# Snippets for htmljinja
#
extends jinja2

# vim modeline
snippet vim "vim modeline" !b
{# -*- vim: set sts=${1:2} sw=$1 et ft=htmljinja fdm=${2:marker}: --- vim modeline -*- #}
endsnippet

#
#
# vim: ft=snippets:
