# Snippets for html
# vim modeline
snippet <! "html comment tag" !b
<!-- $1 -->
endsnippet

snippet vim "vim modeline, html + django" b
{# -*- vim: set sts=${1:2} sw=$1 et ft=htmldjango fdm=${2:marker}: -- vim modeline -*- #}
endsnippet

# vim modeline
snippet vim "vim modeline, html + jinja2" b
{# -*- vim: set sts=${1:2} sw=$1 et ft=html.jinja2 fdm=${2:marker}: - vim modeline -*- #}
endsnippet

#
#
# vim: ft=snippets:
